<script src="/assets/js/vue.global.js"></script>
<style>
    .organization{
        display: flex;
        gap:1rem;
    }
    .organizationColumn{
        display: flex;
        flex-direction: column;
        gap:1.5rem;
    }
    .organizationAdd{
        width:10rem;
    }
    .form-group-inner{
        margin-left:unset !important;
        margin-right:unset !important;
        margin-bottom:unset !important;
    }
    .form-group-inner-column.has-error{
        display: flex;
        flex-direction: column;
    }
    .form-group-inner-column.has-error .n-right{
        margin-top: 0;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Primary_activity')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-primary_activity_id" data-rule="required" data-source="primary/activity/index" class="form-control selectpage" name="row[primary_activity_id]" type="text" data-select-only="true" disabled value="{$activity.id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('School')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-school_id" data-rule="required" data-source="school/index" class="form-control selectpage" name="row[school_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Organization')}:</label>
        <div class="col-xs-12 col-sm-8 organizationColumn">
            <div id="app" class="organizationColumn">
                <template v-for="(item, index) in organizationInputs">
                    <div class="input-group organization">
                     <!--   <div class="form-group">
                            <input :data-rule="getRequired(index)" class="form-control" name="row[organization][]" type="text" v-model="organizationInputs[index]" placeholder="{:__('Please enter the organization name')}">

                        </div>-->

                        <!--<input :data-rule="getRequired(index)" class="form-control" name="row[organization][]" type="text" v-model="organizationInputs[index]" placeholder="{:__('Please enter the organization name')}">-->
                        <template v-if="organizationInputs[index].length==0">
                            <div :class="'form-group form-group-inner form-group-inner'+(index>0?' form-group-inner-column':'')">
                            <input data-rule="required" class="form-control" name="row[organization][]" type="text" v-model="organizationInputs[index]" placeholder="{:__('Please enter the organization name')}">
                            </div>
                        </template>
                        <template v-if="organizationInputs[index].length>0">
                            <div :class="'form-group form-group-inner form-group-inner'+(index>0?' form-group-inner-column':'')">
                            <input class="form-control" name="row[organization][]" type="text" v-model="organizationInputs[index]" placeholder="{:__('Please enter the organization name')}">
                            </div>
                        </template>

                        <template v-if="index>0">
                            <button class="btn btn-danger" @click="organizationInputDel(index)">{:__('Del')}</button>
                        </template>
                    </div>
                </template>
                <button type="button" class="btn btn-default organizationAdd" @click="organizationAdd()">{:__('Add')}</button>

            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Personal')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-personal" data-rule="required" class="form-control" name="row[personal]" type="text" value="" placeholder="{:__('Please enter the name')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
<script>
/*    function formSubmit(){
        console.log("aa");
        return false;
    }*/
    const { createApp, ref } = Vue;
    const organizationInputs=ref([""]);
    createApp({
        setup() {
            function getRequired(index){
                if(organizationInputs.value[index].length==0){
                    return 'required';
                }
                return '';
            }
            function organizationInputDel(index){
                organizationInputs.value.splice(index,1);
            }
            function organizationAdd(){
                organizationInputs.value.push("");
            }
            return {
                organizationInputs,
                organizationAdd,
                organizationInputDel,
                getRequired
            }
        }
    }).mount('#app')
</script>
